@media (max-width: 992px){
    .header__inner {
        flex-wrap: wrap;
        height: auto;
        padding-top: 25px;

    }
    .menu{
        order: 1;
        width: 100%;

    }
    .menu__list{
        justify-content: flex-end;
        padding-top: 30px;
    }
}