@media (max-width: 1240px) {
    .team__item-3 {
        left: 275px;
    }
    .team__item-5 {
        bottom: 100px;
    }
    .team__item-4 {
        bottom: 230px;
    }
}

@media (max-width: 1060px) {
    .team__item-5 {
        bottom: 80px;
    }
}

@media (max-width: 1174px) {
    .slider__item-img {
        width: 100%;
        height: 250px;
    }
    .slider {
        margin: 0;
    }
    .slider__item {
        padding: 10px;
    }
}

@media (max-width: 992px) {
    .header__inner {
        flex-wrap: wrap;
        height: auto;
        padding-top: 25px;
    }
    .menu {
        order: 1;
        width: 100%;
    }
    .menu__list {
        justify-content: flex-end;
        padding-top: 30px;
    }
    .top__inner {
        background-image: none;
        padding: 80px 0 60px;
    }
    .tools__items {
        flex-wrap: wrap;
    }
    .tools__item {
        width: 50%;
        margin-bottom: 30px;
        padding-right: 10px;
    }
    .tools {
        padding-top: 50px;
    }
    .tools__inner {
        padding-bottom: 60px;
    }
    .direction__item-img {
        width: 40%;
    }
}

@media (max-width: 820px) {
    .direction__item-img {
        width: 80%;
        margin: 0 auto 30px;
        order: -1;
    }
    .direction__item {
        flex-wrap: wrap;
    }
    .direction__item-content {
        width: 100%;
    }
}

@media (max-width: 860px) {
    .team__item {
        display: none;
    }
    .team__inner {
        padding: 80px 0;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__form {
        width: 100%;
        margin-top: 25px;
    }
}

@media (max-width: 524px) {
    .header_inner {
        display: block;
    }
    .menu__list {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        background-color: #ffffff;
        text-align: center;
        transform: translateX(-300%);
        transition: all .3s ease;
    }
    .menu__list.menu__list--active {
        transform: translateX(0);
        transition: all .3s ease;
    }
    .menu_list-link {
        display: block;
        padding: 10px 0;
    }
    .menu__list-item+.menu__list-item {
        margin-left: 0;
    }
    .menu__btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
    }
    .user-nav {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-top: 30px;
    }
    .top__title {
        font-size: 28px;
        line-height: 32px;
    }
    .top__btn {
        margin-bottom: 25px;
    }
    .tools__item {
        width: 100%;
    }
    .tools__title, .direction__item-title, .team__title, .blog__title, .slider__item-title {
        font-size: 24px;
        line-height: 30px;
    }
    .direction__item {
        margin-bottom: 40px;
    }
    .slider__item {
        padding: 0;
    }
    .footer .logo {
        width: 100%;
        margin-bottom: 25px;

    }
    .footer__inner {
        justify-content: space-around;
    }
    .footer__form-btn {
        margin: 15px auto;
        display: block;
    }
}